@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  blockquote {
    @apply border-l-4 border-l-slate-200 bg-slate-50 p-3;
  }

  code,
  code span {
    -webkit-font-smoothing: auto;
    font-feature-settings: "liga" on, "calt" on;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-family: "JetBrains Mono", sans-serif;
  }

  .markdown-table th:first-child {
    position: relative !important;
  }

  .markdown-h1:first-child,
  .markdown-h2:first-child,
  .markdown-h3:first-child,
  .markdown-h4:first-child {
    margin-top: unset;
  }
}

@layer components {
  .keep-all {
    word-break: keep-all;
  }

  .page-content {
    @apply container max-w-5xl mx-auto py-4 px-5 keep-all;
  }
}